# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Environments
.venv/
venv/
ENV/
env/
.virtualenv/
venv.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.history/

# MacOS
.DS_Store

# PyCharm
.idea/

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__p
